<div class="movie-form-container">
  <div class="row p-4">
    <div class="col-xs-12 col-md-6 p-4 form-wrapper">
      <form
        class="example-form"
        [formGroup]="createForm"
        (ngSubmit)="handleSubmit()"
      >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Ex. It makes me feel..."
            formControlName="description"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Poster Url</mat-label>
          <input
            matInput
            formControlName="url"
            placeholder="Find the image on google and copy the image address"
          />
        </mat-form-field>
        <img
          [style]="{ width: '200px', marginBottom: '2rem' }"
          [src]="createForm.value.url"
        />
        <div class="bottom-container">
          <mat-form-field appearance="fill">
            <mat-label>IMDB Point</mat-label>
            <input matInput formControlName="imdbPoint" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genreType">
              <mat-option *ngFor="let genre of genres" [value]="genre.name">
                {{ genre.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Publis Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="publishDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!createForm.valid"
        >
          Create
        </button>
      </form>
    </div>
  </div>
</div>
