<div class="container">
  <div class="row p-2 mt-2" *ngIf="movie">
    <div class="col-xs-12 col-md-4">
      <div>
        <img
          [src]="
            checkPath(movie.poster_path)
              ? imgBase + movie.poster_path
              : movie.poster_path
          "
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="movie-detail">
        <div
          class="movie-header d-flex justify-content-between align-items-center"
        >
          <h1 class="movie-title">{{ movie.title }}</h1>
          <span>{{ movie.release_date | date }}</span>
        </div>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip
            color="primary"
            selected
            *ngFor="let item of movie.genres"
            >{{ item.name }}</mat-chip
          >
        </mat-chip-list>
        <p class="movie-description mt-2">
          {{ movie.overview }}
        </p>
        <div class="movie-footer d-flex justify-content-between">
          <mat-chip color="accent" selected>IMDB: {{ movie.rate }}</mat-chip>
        </div>

        <app-movieform [movie]="movie" [id]="movie.id"></app-movieform>
        <div *ngFor="let item of movie.comments" class="comment-container mt-2">
          <span class="comment-name">{{ item.name | username }}</span>
          <span class="comment-detail">{{ item.comment }}</span>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
